<section>
	{% for gallery in galleryslist | reverse %}
		<article{% if gallery.url == url %} data-current="current item"{% endif %}>
			{% if gallery.data.image %}
				<a href="{{ gallery.url | url }}">
		    	<img class="gallery-list-image" src="{{ gallery.data.image }}"></img>
				</a>
		  {% endif %}
			<h3>
				<a href="{{ gallery.url | url }}">
					{% if gallery.data.title %}
						{{ gallery.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if gallery.data.summary %}
				<p>
					{{ gallery.data.summary }}
				</p>
			{% endif %}
			<p>
				<time datetime="{{ gallery.date | machineDate }}">
					<small>{{ gallery.date | readableDate }}</small>
				</time>
			</p>
			{% if gallery.data.tags %}
				<p>
					{% for tag in gallery.data.tags %}
		  			{%- if tag != "gallery" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</section>
