<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>
		<header>

		    <img src="{{ logo }}"></image>
		  

			<em>
				<h1><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
			</em>
			{% include "components/nav.njk" %}

		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
