---
layout: layouts/base.njk
section: post
---

<article>
  <h2>{{ title }}</h2>

  {% if image %}
    <img src="{{ image }}"></image>
  {% endif %}

  {% if galleryImage %}
    {% set galleryImage %}
      <figure>
        <img src="{{ listImage }}"></image>
        <figcaption>{{ galleryImageCaption }}</figcaption>
      </figure>
    {% endset %}
  {% endif %}

  {{ layoutContent | safe }}

</article>

<nav>
  <a href="{{ '/' | url }}">← Back Home</a>
</nav>
